<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="logo">
      <img
        src="https://upload.wikimedia.org/wikipedia/pt/f/f1/Smart-fit-logo.jpg"
        alt="smart-fit-logo"
        width="220px"
        height="140px"
      />
    </div>
    <div class="main-page">
      <div class="explanation-container">
        <h1>
          REABERTURA <br />
          SMART FIT
        </h1>
        <hr class="reabertura-divisor" />
        <p>
          O horário de funcionamento das nossas unidades está seguindo os
          decretos de cada município. Por isso, confira aqui se a sua unidade
          está aberta e as medidas de segurança que estamos seguindo.
        </p>
      </div>
      <div class="scheduling-container">
        <div class="scheduling-prompt">
          <p>Horário</p>
          <h1 class="period-question">Qual período quer treinar?</h1>
          <ul class="timeslots">
            <li>
              <div class="daytime-selection">
                <input type="radio" name="daytime" id="morning" /><label
                  for="closed-units"
                  >Manhã</label
                >
              </div>
              <date>06:00 às 12:00</date>
            </li>
            <li>
              <div class="daytime-selection">
                <input type="radio" name="daytime" id="afternoon" /><label
                  for="closed-units"
                  >Tarde</label
                >
              </div>
              <date>12:01 às 18:00</date>
            </li>
            <li>
              <div class="daytime-selection">
                <input type="radio" name="daytime" id="night" /><label
                  for="closed-units"
                  >Noite</label
                >
              </div>
              <date>18:01 às 23:00</date>
            </li>
          </ul>
          <div class="results-filter">
            <div class="filter-checkbox">
              <input
                type="checkbox"
                name="closed-units"
                id="closed-units"
              /><label for="closed-units">Exibir unidades fechadas</label>
            </div>
            <p>
              Resultados encontrados:
              <strong class="number-of-results">0</strong>
            </p>
          </div>
          <div class="find-units">
            <button type="button" class="find-unit">ENCONTRAR UNIDADE</button>
            <button type="button" class="clean">LIMPAR</button>
          </div>
        </div>
      </div>
      <div class="prohibitions-container">
        <ul class="prohibitions-defs">
          <li>
            <h1 class="place">Máscara</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-mask.png"
                    alt="required-mask"
                    width="80px"
                    height="80px"
                  />
                </div>
                <p>Obrigatório</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/recommended-mask.png"
                    alt="recommended-mask"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Recomendado</p>
              </li>
            </ul>
          </li>
          <li>
            <h1 class="place">Toalha</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-towel.png"
                    alt="required-towel"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Obrigatório</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/recommended-towel.png"
                    alt="recommended-towel"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Recomendado</p>
              </li>
            </ul>
          </li>

          <li>
            <h1 class="place">Bebedouro</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/partial-fountain.png"
                    alt="partial-fountain"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Parcial</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/forbidden-fountain.png"
                    alt="forbidden-fountain"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Proibido</p>
              </li>
            </ul>
          </li>

          <li>
            <h1 class="place">Vestiários</h1>
            <ul class="recommendations">
              <li>
                <div class="rec-image">
                  <img
                    src="images/required-lockerroom.png"
                    alt="required-lockerroom"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Liberado</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/partial-lockerroom.png"
                    alt="partial-lockerroom"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Parcial</p>
              </li>
              <li>
                <div class="rec-image">
                  <img
                    src="images/forbidden-lockerroom.png"
                    alt="forbidden-lockerroom"
                    width="80x"
                    height="80px"
                  />
                </div>
                <p>Fechado</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="results-container">
        <ul class="results">
          <li class="result">
            <p class="open-facility">Aberto</p>
            <p>Vicente Linhares</p>
            <p class="address">
              Rua Tibúrcio Cavalcante, 1885 - Meireles <br />
              Fortaleza, CE
            </p>
            <hr class="address-division" />
            <ul class="prohibs">
              <li>Máscara</li>
              <li>Toalha</li>
              <li>Bebedouro</li>
              <li>Vestiário</li>
            </ul>
          </li>
          <li class="result">
            <p class="closed-facility">Fechado</p>
            <p>Vicente Carrão</p>
            <p class="address">
              Av, Guilherme Giorgi, 1460, Vila Carrão<br />
              São Paulo - SP
            </p>
            <hr class="address-division" />
            <ul class="prohibs"></ul>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <footer>
    <div class="footer-image">
      <img
        src="https://upload.wikimedia.org/wikipedia/pt/f/f1/Smart-fit-logo.jpg"
        alt="smart-fit-logo"
        width="120px"
        height="70px"
      />
    </div>
    <div class="footer-fine-print">
      <small>Todos os direitos reservados - 2020</small>
    </div>
  </footer>
</html>
